[package]
# TODO(1) fix `authors` and `name` if you didn't use `cargo-generate`
authors = ["Matous Hybl <hyblmatous@gmail.com>"]
name = "nucleo-usb"
edition = "2018"
version = "0.1.0"

[workspace]
members = ["testsuite"]

[dependencies]
cortex-m = "0.6.4"
cortex-m-rt = "0.6.13"
stm32f7xx-hal = { git = "https://github.com/stm32-rs/stm32f7xx-hal.git", branch = "master", features = ["stm32f767", "rt", "usb_fs"] }
cortex-m-rtic = "0.5.5"
nb = "0.1.0"
byteorder = { version = "1.3.4", default-features = false }
heapless = "0.5.6"
embedded-hal = "0.2.4"
embedded-dma = "0.1.2"
usb-device = "0.2.3"
usbd-serial = "0.1.1"
stm32-eth = { git = "https://github.com/matoushybl/stm32-eth.git", branch = "update_f7_hal", features = ["stm32f767", "smoltcp-phy"] }
defmt = "0.1.0"
defmt-rtt = "0.1.0"
panic-probe = { version = "0.1.0", features = ["print-defmt"] }

[dependencies.smoltcp]
version = "0.6.0"
default-features = false
features = ["ethernet", "proto-ipv4", "socket-tcp", "socket-icmp"]

[features]
# set logging levels here
default = [
  "defmt-default",
  # "dependency-a/defmt-trace",
]

# do NOT modify these features
defmt-default = []
defmt-trace = []
defmt-debug = []
defmt-info = []
defmt-warn = []
defmt-error = []

[profile.dev]
codegen-units = 1
debug = 2
debug-assertions = true # <-
incremental = false
opt-level = 3 # <-
overflow-checks = true # <-

[profile.release]
codegen-units = 1
debug = 2
debug-assertions = false # <-
incremental = false
lto = 'fat'
opt-level = 3 # <-
overflow-checks = false # <-

# do not optimize proc-macro crates = faster builds from scratch
[profile.dev.build-override]
codegen-units = 8
debug = false
debug-assertions = false
opt-level = 0
overflow-checks = false

[profile.release.build-override]
codegen-units = 8
debug = false
debug-assertions = false
opt-level = 0
overflow-checks = false
